/* Custom OTP Style Alert */
.otp-alert-popup {
  border-radius: 15px !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

.otp-alert-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff !important;
}

.otp-alert-btn {
  background: linear-gradient(90deg, #007bff, #ff4d4d) !important;
  color: white !important;
  padding: 10px 25px !important;
  border-radius: 10px !important;
  font-weight: 600 !important;
  border: none !important;
  transition: all 0.3s ease;
}

.otp-alert-btn:hover {
  background: linear-gradient(90deg, #005bea, #ff1e56) !important;
  transform: scale(1.05);
}

/* Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* Arrow color */
  width: 40px;
  height: 40px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #020617; /* dark theme base */
}
#navbar_button {
  color: rebeccapurple;
}

.otp-alert-btn {
  background: #00bfff;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  margin-right: 10px;
}

.otp-alert-cancel-btn {
  background: transparent;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
  padding: 10px 22px;
  border-radius: 8px;
}
